
<section id="menu" class="menu">
      <div class="container">

        <div class="section-title">
          <h2> <span>Просмотрите наше меню</span></h2>

        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">Просмотреть все</li>
                {% for item in categories %}
                    <li data-filter=.filter-{{ item.title}}">{{ item.title}}l</li>
                {% endfor %}

            </ul>
          </div>
        </div>

        <div class="row menu-container">
            {% for item in dishes %}

          <div class="col-lg-6 menu-item filter-{{item.category.title }}">
            <div class="menu-content">
              <a href="#">{{item.title }}</a><span>${{ item.price }}</span>
            </div>
            <div class="menu-ingredients">
              {{ item.desc}}
            </div>
          </div>
             {% endfor %}
      </div>
</section><!-- End Menu Section -->