<section id="book-a-table" class="book-a-table">
      <div class="container">

        <div class="section-title">
          <h2>Book a <span>Table</span></h2>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

{#     <form method="post" name="sentMessage" id="contactForm" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4 col-md-6 form-group">
                    <i>{{ form_book.user_name }}</i>
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                {{ form_book.user_email }}
            </div>
            <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                {{ form_book.user_phone }}
            </div>
          </div>
          <p class="form-group mt-3">
              <p>{{ form_book.user_message }}</p>
          </div>
{#              {{ form_book.as_p }}#}
          <div class="text-center">
              <button type="submit">Отправить сообщение</button>
          </div>
          </form>

      </div>1
    </section>